@import "bootstrap";

$theme: #61b5e8;

body{
  background: #f7f7f7;
}
.navbar-default {
  background-color: rgba(255, 255, 255, 0.95);
  border:none;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color: #fff;
  background-color: $theme;
}
.header{
  height: 11em;
  background: #61b5e8;
  color: white;
  border-top: 1em solid #58a9da;
  text-align: center;
  text-transform: uppercase;
  padding:1em;
  margin-bottom:2em;
  h5{
    position:absolute;
  }
  h4{
    margin-top:2.5em;
    font-size:2em;
  }
}
.section{
  background: white;
  margin-top:4em;
  margin-bottom:2em;
  .sort{
    width: 100%;
    text-align: right;
    padding-right: 2em;
    li{
      list-style:none;
      display:inline;
      &:first-child{
        margin-right:1em;
      }
    }
    .dropdown{
      margin-top:1.1em;
      display: inline-block;
      a{
        margin-right:1em;
        font-weight: bold;
        color: #777777;
        cursor:pointer;
      }
      li{
        list-style:none;
        display:inline-block;
        &:first-child{
          margin-right:1em;
        }
      }
    }
  }
  .list{
    padding:1em;
    .orange{
      color:#ffb31d;
    }
    .green{
      color:#42b342;
    }
    .red{
      color:#ce4c4c;
    }
    li{
      cursor:pointer;
      &:hover{
        font-weight:bold;
      }
    }
  }
  .summary{
    padding: 2.5em;
  }
}
