<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Orders Overview</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a>Sort By</a></li>
        <li><a href="#"><strong>Customers</strong></a></li>

        <span class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Item Type<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">All</a></li>
          </ul>
        </span>

        <span class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Status<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Awaiting Confirmation</a></li>
            <li><a href="#">Awaiting Material</a></li>
            <li><a href="#">Awaiting Production</a></li>
            <li><a href="#">In Production</a></li>
            <li><a href="#">Complete (Awaiting Inspection)</a></li>
            <li><a href="#">Ready Dispatch</a></li>
          </ul>
        </span>
      </ul>
    </div>
  </div>
</nav>